doctype
html(lang="en")
  head
      meta(charset='UTF-8')
      title story
      script(src='https://code.jquery.com/jquery-2.1.4.min.js')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
      link(rel='stylesheet', href='https://s3-us-west-2.amazonaws.com/social-justice/main.css')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
  body
      header
        span
          span#user-picture #{username}
      #content
        #left-rail
          image#donee-head-shot(src='#{doneeHeadshot}')
          #donee-name #{doneeName}
          #donee-location
            span.location-icon #{doneeLocation}

        #main
          #story
            #story-photo
              iframe(width='480', height='300', src='#{storyVideo}', frameborder='0', allowfullscreen='')
            h4#story-title #{storyTitle}
            #story-description #{storyDescription}
            .case-result.result(data-case-id='#{id}')
                .stars-icon(style='display: block;') #{stars}
                  .inner-case-result
                    img.case-picture(src='#{doneeHeadshot}')
                    .case-title #{storyTitle}
                    .case-donation-info
                      .progress
                        .progress-bar.progress-bar-striped(role='progressbar', aria-valuenow='#{progressPercent}', aria-valuemin='0', aria-valuemax='100', style='width: #{progressPercent}%')
                          #{progressPercent}
                    .case-description #{storyDescription}
                    div
                      .court-info
                        .court-icon
                        .days-left Court in #{daysUntilCourtDate}
                        .court-location #{courtLocation}
                      .case-pledged
                        .pledged-icon
                        .pledged-amount $ #{currentlyPledged}
          #tabs
            span#story-tab.tab Story
            span#comments-tab.tab
                | Comments
              span.badge #{commentBadges}
            span#updates-tab.tab
                | Updates
              span.badge #{caseUpdates}
          #donors
            h4 Donors
        #right-rail
          span#favorite Favorite
          span#read Mark As Read
          span#hide
